.custom-select {
	appearance: none; /* Убираем стандартный вид */
	background-color: #073c39; /* Цвет фона */
	color: white; /* Цвет текста */
	padding: 10px 15px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	width: 220px; /* Ширина выпадающего списка */
	cursor: pointer;
	position: relative;
}

/* Для стрелочки вниз */
.custom-select::after {
	content: '\25BC'; /* Стрелка вниз */
	font-size: 12px;
	color: white;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

/* Стилизация списка опций */
.custom-select option {
	background-color: white; /* Цвет фона для опций */
	color: black; /* Цвет текста для опций */
}

/* Стили при открытии списка в разных браузерах */
.custom-select:focus {
	outline: none; /* Убираем стандартный фокус */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень при открытии */
}
